


h1{
  top:50px;
  left:100px;
  position: fixed;
  font-size:60px;
  font-family: 'Fira Sans', sans-serif;
}
#canvas{
  border:none;
  width:400px;
  height:20000px;
  margin:0 auto;
  position:relative;

}

#counter{
  color:white;
  width:200px;
  height:30px;
  top:123px;
  left:90px;
  position:absolute;
  z-index:-1;
  opacity:0.9;
}



#icon {width:300px;
  position:absolute;
  top:200px;
  left:50px;
}
