/* body {
  overflow-x: hidden;
} */

#container {
  position:relative;
  overflow: hidden;
  width: 700px;
  margin:0 auto;
  border: 1px solid red;
  height: 20000px;
  z-index: -16;
}
.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  top: 200px;
  left: 500px;
}
#outfit {
  background-color:yellow;
  color:white;
  width:100px;
  height:100px;
  top: 300px;
  left: 300px;
  position:absolute;
  z-index: -1;
}
.square {
  position: absolute;
}

.square-1 {
  width: 100px;
  height: 100px;
  background: blue;
  top: 600px;
}


.square-2 {
  width: 520px;
  height: 120px;
  background: black;
  left: 800px;
  top: 800px;
}

#counter{
  background-color:green;
  width:200px;
  height:500px;
  top: 150px;
  left: 250px;
  position:absolute;
  z-index: -2;
}
